<h2>User Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recent Workouts</h5>
                <ul class="list-group">
                    <li class="list-group-item">Workout 1 - 2025-05-01</li>
                    <li class="list-group-item">Workout 2 - 2025-05-03</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Active Fitness Plan</h5>
                <p class="card-text">Beginner Strength Plan - 4 weeks remaining</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <p class="card-text">View or edit your profile details.</p>
                <a href="/User/Profile" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>