<h2>Fitness Plans</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Goal</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Beginner Strength Plan</td>
            <td>8 weeks</td>
            <td>Build Muscle</td>
            <td>
                <a href="/FitnessPlan/Details/1" class="btn btn-info btn-sm">Details</a>
            </td>
        </tr>
    </tbody>
</table>